<div class="container-fluid footerContainer">
   <div class="row">
    <div class="col-md-3">
        <ul>
            <li>
                <h4>
                    <a href="#">
                        Home
                    </a>
                </h4>
            </li><li>
                <h4>
                    <a href="#">
                        Food Safety
                    </a>
                </h4>
            </li><li>
                <h4>
                    <a href="#">
                        Mava Organic
                    </a>
                </h4>
            </li><li>
                <h4>
                    <a href="#">
                        Contact us
                    </a>
                </h4>
            </li>
        </ul>
    </div>
    <div class="col-md-3">
        <ul>
            <li>
                <h4>
                    <a href="#">
                        Corporate Profile
                    </a>
                </h4>
            </li>
            <li>
                <a href="#">
                    About us
                </a>
            </li>
            <li>
                <a href="#">
                    Message from the Chairman
                </a>
            </li>
            <li>
                <a href="#">
                    Corporate Social Responsibility
                </a>
            </li>
            <li>
                <a href="#">
                    Sustainability
                </a>
            </li>
            <li>
                <a href="#">
                    Breeding Programs
                </a>
            </li>
            <li>
                <a href="#">
                    Markets
                </a>
            </li>
        </ul>
    </div>
    <div class="col-md-3">
        <ul>
            <li>
                <h4>
                    <a href="#">
                        Facilities
                    </a>
                </h4>
            </li>
            <li>
                <a href="#">
                    Locations
                </a>
            </li>
            <li>
                <a href="#">
                    Farms
                </a>
            </li>
            <li>
                <a href="#">
                    Packing Stations
                </a>
            </li>
            <li>
                <a href="#">
                    Logistics & Shipping
                </a>
            </li>
            <li>
                <a href="#">
                    Laboratories
                </a>
            </li>
            <li>
                <a href="#">
                    Clinic
                </a>
            </li>
            <li>
                <a href="#">
                    Sports Club
                </a>
            </li>
            <li>
                <a href="#">
                    Training Center
                </a>
            </li>
        </ul>
    </div>
    <div class="col-md-3">
        <ul>
            <li>
                <h4>
                    <a href="#">
                        Products
                    </a>
                </h4>
            </li>
            <li>
                <a href="#">
                    Citrus
                </a>
            </li>
            <li>
                <a href="#">
                    Grapes
                </a>
            </li>
            <li>
                <a href="#">
                    Pomegranates
                </a>
            </li>
            <li>
                <a href="#">
                    Dates
                </a>
            </li>
            <li>
                <a href="#">
                    Mangoes
                </a>
            </li>
            <li>
                <a href="#">
                    Strawberries
                </a>
            </li>
            <li>
                <a href="#">
                    Orange Juice
                </a>
            </li>
            <li>
                <a href="#">
                    Capsicum
                </a>
            </li>
            <li>
                <a href="#">
                    Lettuce
                </a>
            </li>
            <li>
                <a href="#">
                    Domestic Products Range
                </a>
            </li>
            <li>
                <a href="#">
                    Calendar
                </a>
            </li>
        </ul>
    </div>
   </div>
   <span class="terms">
       <div class="right">
            <a href="#">Terms and Conditions</a>
            <a>|</a>
            <a href="#">Privacy Policy</a>
       </div>
   </span>
</div>
<div class="copyRight text-center">© Copyright 2022, Ever Fresh</div>
