@import "../../styles.scss";

.navbar{
    z-index: 999;
    background-color: $navbarLightColor;
    box-shadow: 0 1px 10px 1px $commonColor;
    #logo{
        width: 125px;
    }
    .nav-item {
        color: $navbarFontColor;
        .nav-link{
          color: $navbarFontColor;
      
        }
    }
    #collapsibleNavbar{
        justify-content: center;
        align-items: center;
    }
}
