<!-- company section -->
<div class="container CompanyContainer">
    <div class="row my-5 text-center">
        <h1>Ever Fresh Agriculture</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Deleniti modi dolores labore illum temporibus unde,
                  corporis itaque ad dolor veritatis
                 iste quae saepe autem distinctio illo possimus!
                  Temporibus, tempore fuga.
            </p><br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Deleniti modi dolores labore illum temporibus unde,
                  corporis itaque ad dolor veritatis
                 iste quae saepe autem distinctio illo possimus!
                  Temporibus, tempore fuga.
            </p>
    </div>
    <div class="row">
        <div class="col-md-4 my-3 centered-items">
            <img class="img-fluid" src="../../assets/round1.png" alt="">
            <div class="text-center">
                <h2>Products</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                   Deleniti modi dolores labore illum temporibus unde,
                   corporis itaque ad dolor veritatis
                   iste quae saepe autem distinctio illo possimus!
                   Temporibus, tempore fuga.
                </p>
                <button class="btn">More...</button>
            </div>
        </div>
        <div class="col-md-4 my-3 centered-items">
            <img class="img-fluid" src="../../assets/round2.png" alt="">
            <div class="text-center">
                <h2>Accreditations</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                   Deleniti modi dolores labore illum temporibus unde,
                   corporis itaque ad dolor veritatis
                   iste quae saepe autem distinctio illo possimus!
                   Temporibus, tempore fuga.
                </p>
                <button class="btn">More...</button>
            </div>
        </div>
        <div class="col-md-4 my-3 centered-items">
            <img class="img-fluid" src="../../assets/round3.png" alt="">
            <div class="text-center">
                <h2>Facilities</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                   Deleniti modi dolores labore illum temporibus unde,
                   corporis itaque ad dolor veritatis
                   iste quae saepe autem distinctio illo possimus!
                   Temporibus, tempore fuga.
                </p>
                <button class="btn">More...</button>
            </div>
        </div>
    </div>
</div>
<!-- global market section -->
<div class="globalContainer">
    <div class="wrapper centered-items">
        <div class="col-md-6 text-center globalText">
            <h1>Global Markets</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Error commodi earum, a impedit ab amet,
                minus minima laborum reprehenderit ipsum dolores nobis
                vitae ratione quis praesentium.
                Rem neque aliquam expedita.
            </p>
            <button class="btn">More...</button>
        </div>
        <div class="col-md-6 globalimage">
            <img class="img-fluid" src="../../assets/news2.jpg" alt="">
        </div>
    </div>
</div>
<!-- picture links section -->
<div class="picsContainer">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 mb-3 centered-items">
            <img src="../../assets/photo1.jpg" alt="" class="img-fluid">
            <div class="py-3 text-center" style="width: 100%;">
                <h4>Egyptian Market</h4>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-3 centered-items">
            <img src="../../assets/photo2.jpg" alt="" class="img-fluid">
            <div class="py-3 text-center" style="width: 100%;">
                <h4>Organic</h4>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-4 mb-3 centered-items">
            <img src="../../assets/csr1.jpg" alt="" class="img-fluid">
            <div class="py-3 text-center" style="width: 100%;">
                <h4>CSR</h4>
            </div>
        </div>
    </div>
</div>